{% form_theme form 'form/materialize_layout.html.twig' %}

{% extends 'base.html.twig' %}

{% block content %}
    <script type="text/javascript">
        // keep track of how many email fields have been rendered
        var projectCount = '{{ form.curriculumvitaeProjects|length }}';
    </script>

    <div class="row">
        <form class="col s12" method="POST" enctype="multipart/form-data" novalidate>

            {% for flash_message in app.session.flashBag.get('error') %}
                <div id="card-alert" class="card red error-entity" style="display:none">
                    <div class="card-content white-text valign-wrapper">
                        <i class="material-icons valign">warning</i>&nbsp;<span>{{ flash_message }}</span>
                    </div>
                </div>
            {% endfor %}

            <div class="col s12">
                <div class="row">
                    <div class="input-field col s12 l6">
                        {{ form_label(form.curriculumvitaeName, 'Naam') }}
                        {{ form_widget(form.curriculumvitaeName, {'attr': {
                            'class': 'validate',
                        }}) }}
                        {{ form_errors(form.curriculumvitaeName) }}
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12 l6">
                        {{ form_label(form.tags, 'Tags') }}
                        {{ form_widget(form.tags, {'attr': {
                            'data-role': 'materialtags',
                            'maxlength': 20
                        }}) }}
                        {{ form_errors(form.tags) }}
                    </div>
                </div>
                <div class="row">
                    <div class="col s12 l6">
                        <ul class="collapsible" data-collapsible="expandable">
                            <li>
                                <div class="collapsible-header row" style="margin-bottom:0">
                                    <div class="col s5" style="padding-left:0">{{ form_label(form.profile, 'Profiel') }}</div>
                                    <div class="col s5">{{ form_errors(form.profile) }}</div>
                                    <div class="col s2" style="padding-right:0"><i class="material-icons">arrow_drop_down</i></div>
                                </div>
                                <div class="collapsible-body">
                                    {{ form_widget(form.profile) }}
                                </div>
                            </li>
                            <li>
                                <div class="collapsible-header row" style="margin-bottom:0">
                                    <div class="col s5" style="padding-left:0">{{ form_label(form.curriculumvitaeProjects, 'Projecten (maximaal 6)') }}</div>
                                    <div class="col s5">{{ form_errors(form.curriculumvitaeProjects) }}</div>
                                    <div class="col s2" style="padding-right:0"><i class="material-icons">arrow_drop_down</i></div>
                                </div>
                                <div class="collapsible-body" id="project-fields-list" data-prototype="{{ form_widget(form.curriculumvitaeProjects.vars.prototype)|e }}">
                                    <div id="project-div">
                                    {% for project in form.curriculumvitaeProjects %}
                                        <div class="row project">
                                            <div class="col s1" style="padding-top:13px">
                                                <a href="#" class="valign-wrapper delete-project"><i class="material-icons valign">delete</i></a>
                                            </div>
                                            <div class="col s10" style="padding-top:15px">
                                                <input type="hidden" name="{{ project.project.vars.full_name }}" id="{{ project.project.vars.id }}" value="{{ project.project.vars.value }}">
                                                <label style="font-size:1rem; color:black" for="{{ project.project.vars.id }}">{{ project.vars.value.project.functionTitle }}</label>
                                            </div>
                                            <div class="col s1">
                                                {{ form_widget(project.important) }}
                                            </div>
                                        </div>
                                    {% endfor %}
                                    </div>
                                    <div class="row" id="add-another-project-div" {% if form.curriculumvitaeProjects|length > 5 %}style="display:none"{% endif %}>
                                        <div class="col s12">
                                            <a href="#" class="valign-wrapper" id="add-another-project"><i class="material-icons valign">add</i>Voeg project toe aan CV</a>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="collapsible-header row" style="margin-bottom:0">
                                    <div class="col s5" style="padding-left:0">{{ form_label(form.education, 'Opleidingen (maximaal 4)') }}</div>
                                    <div class="col s5">{{ form_errors(form.education) }}</div>
                                    <div class="col s2" style="padding-right:0"><i class="material-icons">arrow_drop_down</i></div>
                                </div>
                                <div class="collapsible-body">
                                    {{ form_widget(form.education) }}
                                </div>
                            </li>
                            <li>
                                <div class="collapsible-header row" style="margin-bottom:0">
                                    <div class="col s5" style="padding-left:0">{{ form_label(form.certificates, 'Certificaten (maximaal 6)') }}</div>
                                    <div class="col s5">{{ form_errors(form.certificates) }}</div>
                                    <div class="col s2" style="padding-right:0"><i class="material-icons">arrow_drop_down</i></div>
                                </div>
                                <div class="collapsible-body">
                                    {{ form_widget(form.certificates) }}
                                </div>
                            </li>
                            <li>
                                <div class="collapsible-header row" style="margin-bottom:0">
                                    <div class="col s5" style="padding-left:0">{{ form_label(form.skills, 'Competenties (maximaal 15)') }}</div>
                                    <div class="col s5">{{ form_errors(form.skills) }}</div>
                                    <div class="col s2" style="padding-right:0"><i class="material-icons">arrow_drop_down</i></div>
                                </div>
                                <div class="collapsible-body">
                                    {{ form_widget(form.skills) }}
                                </div>
                            </li>
                            <li>
                                <div class="collapsible-header row" style="margin-bottom:0">
                                    <div class="col s5" style="padding-left:0">{{ form_label(form.extracurricular, 'Nevenactiviteiten (maximaal 3)') }}</div>
                                    <div class="col s5">{{ form_errors(form.extracurricular) }}</div>
                                    <div class="col s2" style="padding-right:0"><i class="material-icons">arrow_drop_down</i><i class="material-icons" style="display:none" id="tooltip_extracurricular" title="Je kunt geen nevenactiviteiten kiezen als je publicaties hebt gekozen.">info_outline</i></div>
                                </div>
                                <div class="collapsible-body">
                                    {{ form_widget(form.extracurricular) }}
                                </div>
                            </li>
                            <li>
                                <div class="collapsible-header row" style="margin-bottom:0">
                                    <div class="col s5" style="padding-left:0">{{ form_label(form.publications, 'Publicaties (maximaal 3)') }}</div>
                                    <div class="col s5">{{ form_errors(form.publications) }}</div>
                                    <div class="col s2" style="padding-right:0"><i class="material-icons">arrow_drop_down</i><i class="material-icons" style="display:none" id="tooltip_publication" title="Je kunt geen publicaties kiezen als je nevenactiviteiten hebt gekozen.">info_outline</i></div>
                                </div>
                                <div class="collapsible-body">
                                    {{ form_widget(form.publications) }}
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="row right">
                    {{ form_widget(form.submit, {'attr': {'class': 'btn waves-effect waves-light'}}) }}
                    <a id="back" class="grey waves-effect waves-light btn">Annuleren</a>
                    {{ form_widget(form._token) }}
                </div>
            </div>
        </form>
    </div>

{% endblock %}