{% form_theme form 'form/materialize_layout.html.twig' %}
{% extends 'base.html.twig' %}

{% block content %}
    <script type="text/javascript">
        // keep track of how many email fields have been rendered
        var emailCount = '{{ form.curriculumvitaeProjects|length }}';
    </script>

    <div class="row">
        <form class="col s12" method="POST" enctype="multipart/form-data">

            {% for flash_message in app.session.flashBag.get('notice') %}
                <div id="card-alert" class="card green" style="display:none">
                    <div class="card-content white-text valign-wrapper">
                        <i class="material-icons valign">done</i>&nbsp;<span>{{ flash_message }}</span>
                    </div>
                </div>
            {% endfor %}

            <div class="col s12">
                <div class="row">
                    <div class="input-field col s12 l6">
                        {{ form_label(form.curriculumvitaeName, 'Naam') }}
                        {{ form_errors(form.curriculumvitaeName) }}
                        {{ form_widget(form.curriculumvitaeName, {'attr': {
                            'class': 'validate',
                        }}) }}
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12 l6">
                        {{ form_label(form.tags, 'Tags') }}
                        {{ form_errors(form.tags) }}
                        {{ form_widget(form.tags, {'attr': {
                            'data-role': 'materialtags',
                        }}) }}
                    </div>
                </div>
                <div class="row">
                    <div class="col s12 l6">
                        <ul class="collapsible" data-collapsible="expandable">
                            <li>
                                <div class="collapsible-header">{{ form_label(form.profile, 'Profiel') }}<i class="material-icons">arrow_drop_down</i></div>
                                <div class="collapsible-body">
                                    {{ form_errors(form.profile) }}
                                    {{ form_widget(form.profile) }}
                                </div>
                            </li>
                            <li>
                                <div class="collapsible-header">{{ form_label(form.curriculumvitaeProjects, 'Projecten (maximaal 6)') }}<i class="material-icons">arrow_drop_down</i></div>
                                <div class="collapsible-body">
                                    <ul id="email-fields-list"
                                        data-prototype="{{ form_widget(form.curriculumvitaeProjects.vars.prototype)|e }}">
                                        {% for emailField in form.curriculumvitaeProjects %}
                                            <li>
                                                {{ form_errors(emailField) }}
                                                {{ form_widget(emailField) }}
                                            </li>
                                        {% endfor %}
                                    </ul>

                                    <a href="#" id="add-another-email">Add another email</a>
                                </div>
                            </li>
                            <li>
                                <div class="collapsible-header">{{ form_label(form.education, 'Opleidingen (maximaal 4)') }}<i class="material-icons">arrow_drop_down</i></div>
                                <div class="collapsible-body">
                                    {{ form_errors(form.education) }}
                                    {{ form_widget(form.education) }}
                                </div>
                            </li>
                            <li>
                                <div class="collapsible-header">{{ form_label(form.certificates, 'Certificaten (maximaal 6)') }}<i class="material-icons">arrow_drop_down</i></div>
                                <div class="collapsible-body">
                                    {{ form_errors(form.certificates) }}
                                    {{ form_widget(form.certificates) }}
                                </div>
                            </li>
                            <li>
                                <div class="collapsible-header">{{ form_label(form.extracurricular, 'Nevenactiviteiten (maximaal 3)') }}<i class="material-icons">arrow_drop_down</i><i class="material-icons" style="display:none" id="tooltip_extracurricular" title="Je kunt geen nevenactiviteiten kiezen als je publicaties hebt gekozen.">info_outline</i></div>
                                <div class="collapsible-body">
                                    {{ form_errors(form.extracurricular) }}
                                    {{ form_widget(form.extracurricular) }}
                                </div>
                            </li>
                            <li>
                                <div class="collapsible-header">{{ form_label(form.publications, 'Publicaties (maximaal 3)') }}<i class="material-icons">arrow_drop_down</i><i class="material-icons" style="display:none" id="tooltip_publication" title="Je kunt geen publicaties kiezen als je nevenactiviteiten hebt gekozen.">info_outline</i></div>
                                <div class="collapsible-body">
                                    {{ form_errors(form.publications) }}
                                    {{ form_widget(form.publications) }}
                                </div>
                            </li>
                            <li>
                                <div class="collapsible-header">{{ form_label(form.skills, 'Competenties') }}<i class="material-icons">arrow_drop_down</i><i class="material-icons" style="display:none" id="tooltip_publication" title="Je kunt geen publicaties kiezen als je nevenactiviteiten hebt gekozen.">info_outline</i></div>
                                <div class="collapsible-body">
                                    {{ form_errors(form.skills) }}
                                    {{ form_widget(form.skills) }}
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="row right">
                    {{ form_widget(form.submit, {'attr': {'class': 'btn waves-effect waves-light'}}) }}
                </div>
            </div>
            {{ form_rest(form) }}
        </form>
    </div>

{% endblock %}