{% form_theme form 'form/materialize_layout.html.twig' %}
{% extends 'base.html.twig' %}

{% block content %}

    <div class="row">
        <form class="col s12" method="POST" enctype="multipart/form-data" novalidate>

            {% for flash_message in app.session.flashBag.get('notice') %}
                <div id="card-alert" class="card green" style="display:none">
                    <div class="card-content white-text valign-wrapper">
                        <i class="material-icons valign">done</i>&nbsp;<span>{{ flash_message }}</span>
                    </div>
                </div>
            {% endfor %}

            <div class="col s12">
                <div class="row">
                    <div class="datepicker-field col s12 m2">
                        {{ form_label(form.startDate, 'Startdatum') }}
                        {{ form_widget(form.startDate, {'attr': {
                            'class': 'datepicker',
                        }}) }}
                        {{ form_errors(form.startDate) }}
                    </div>
                    <div class="datepicker-field col s12 m2">
                        {{ form_label(form.endDate, 'Einddatum') }}
                        {{ form_widget(form.endDate, {'attr': {
                            'class': 'datepicker',
                        }}) }}
                        {{ form_errors(form.endDate) }}
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12 m6">
                        {{ form_label(form.extracurricularName, 'Nevenactiviteit') }}
                        {{ form_widget(form.extracurricularName, {'attr': {
                            'class': 'validate',
                            'maxlength': 100,
                        }}) }}
                        {{ form_errors(form.extracurricularName) }}
                    </div>
                </div>
                <div class="row right">
                    {{ form_widget(form.submit, {'attr': {'class': 'btn waves-effect waves-light'}}) }}
                    <a id="back" class="grey waves-effect waves-light btn">Annuleren</a>
                </div>
            </div>
            {{ form_rest(form) }}
        </form>
    </div>

{% endblock %}