{% use "form_div_layout.html.twig" %}

{# Widgets #}

{% block form_widget_simple -%}
    {% if type is not defined or type not in ['file', 'hidden'] %}
        {%- set attr = attr|merge({class: (attr.class|default(''))|trim}) -%}
    {% endif %}
    {{- parent() -}}
{%- endblock form_widget_simple %}

{% block file_widget -%}
    {% set attr = attr|merge({class: (attr.class|default(''))|trim}) %}
    <div class="btn disabled">
        <span>{{ label }}</span>
        <input type="file" {{ block('widget_attributes') }} disabled {% if value is not empty %}value="{{ value }}" {% endif %}/>
    </div>
{%- endblock file_widget %}

{% block textarea_widget -%}
    {% set attr = attr|merge({class: (attr.class|default(''))|trim}) %}
    {{- parent() -}}
{%- endblock textarea_widget %}

{% block button_widget -%}
    {% set attr = attr|merge({class: (attr.class|default('btn') ~ ' btn')|trim}) %}
    {{- parent() -}}
{%- endblock %}

{% block money_widget -%}
    <div class="input-group">
        {% set append = money_pattern starts with '{{' %}
        {% if not append %}
            <span class="input-group-addon">{{ money_pattern|replace({ '{{ widget }}':''}) }}</span>
        {% endif %}
        {{- block('form_widget_simple') -}}
        {% if append %}
            <span class="input-group-addon">{{ money_pattern|replace({ '{{ widget }}':''}) }}</span>
        {% endif %}
    </div>
{%- endblock money_widget %}

{% block percent_widget -%}
    <div class="input-group">
        {{- block('form_widget_simple') -}}
        <span class="input-group-addon">%</span>
    </div>
{%- endblock percent_widget %}

{% block datetime_widget -%}
    {% if widget == 'single_text' %}
        {{- block('form_widget_simple') -}}
    {% else -%}
        {% set attr = attr|merge({class: (attr.class|default(''))|trim}) -%}
        <div {{ block('widget_container_attributes') }}>
            {{- form_errors(form.date) -}}
            {{- form_errors(form.time) -}}
            {{- form_widget(form.date, { datetime: true } ) -}}
            {{- form_widget(form.time, { datetime: true } ) -}}
        </div>
    {%- endif %}
{%- endblock datetime_widget %}

{% block date_widget -%}
    {% if widget == 'single_text' %}
        {{- block('form_widget_simple') -}}
    {% else -%}
        {% set attr = attr|merge({class: (attr.class|default(''))|trim}) -%}
        {% if datetime is not defined or not datetime -%}
            <div>
        {%- endif %}
        {#{{- date_pattern|replace({#}
            {#'{{ year }}':  form_widget(form.year),#}
            {#'{{ month }}': form_widget(form.month),#}
            {#'{{ day }}':   form_widget(form.day),#}
        {#})|raw -}}#}
        {% if form.vars.label is same as('Geboortedatum') %}
            {% set disabled = true %}
        {% endif %}
        {% if form.vars.label is not same as('Einddatum') %}
            {% set required = true %}
        {% endif %}
        <label for="{{ form.day.vars.id }}"{% if required %} class="required"{% endif %}>{{ form.vars.label }}</label>
        <input class="datepick"{% if disabled %} disabled{% endif %} {% if form.vars.value.day is defined %} value="{{ form.vars.value.day }}"{% endif %}type="text" id="{{ form.day.vars.id }}" name="{{ form.day.vars.full_name }}" placeholder="dd" maxlength="2" style="width:20px" required><span class="datepick-dash">/</span><input class="datepick" {% if disabled %} disabled{% endif %} {% if form.vars.value.month is defined %} value="{{ form.vars.value.month }}"{% endif %}type="text" id="{{ form.month.vars.id }}" name="{{ form.month.vars.full_name }}" placeholder="mm" maxlength="2" style="width:25px" required><span class="datepick-dash">/</span><input class="datepick" {% if disabled %} disabled{% endif %} {% if form.vars.value.year is defined %} value="{{ form.vars.value.year }}"{% endif %}type="text" id="{{ form.year.vars.id }}" name="{{ form.year.vars.full_name }}" placeholder="yyyy" maxlength="4" style="width:35px" required>
        {% if datetime is not defined or not datetime -%}
            </div>
        {%- endif -%}
    {% endif %}
{%- endblock date_widget %}

{% block time_widget -%}
    {% if widget == 'single_text' %}
        {{- block('form_widget_simple') -}}
    {% else -%}
        {% set attr = attr|merge({class: (attr.class|default(''))|trim}) -%}
        {% if datetime is not defined or false == datetime -%}
            <div {{ block('widget_container_attributes') -}}>
        {%- endif -%}
        {{- form_widget(form.hour) }}{% if with_minutes %}:{{ form_widget(form.minute) }}{% endif %}{% if with_seconds %}:{{ form_widget(form.second) }}{% endif %}
        {% if datetime is not defined or false == datetime -%}
            </div>
        {%- endif -%}
    {% endif %}
{%- endblock time_widget %}

{%- block dateinterval_widget -%}
    {%- if widget == 'single_text' -%}
        {{- block('form_widget_simple') -}}
    {%- else -%}
        {%- set attr = attr|merge({class: (attr.class|default(''))|trim}) -%}
        <div {{ block('widget_container_attributes') }}>
            {{- form_errors(form) -}}
            {%- if with_years %}{{ form_widget(form.years) }}{% endif -%}
            {%- if with_months %}{{ form_widget(form.months) }}{% endif -%}
            {%- if with_weeks %}{{ form_widget(form.weeks) }}{% endif -%}
            {%- if with_days %}{{ form_widget(form.days) }}{% endif -%}
            {%- if with_hours %}{{ form_widget(form.hours) }}{% endif -%}
            {%- if with_minutes %}{{ form_widget(form.minutes) }}{% endif -%}
            {%- if with_seconds %}{{ form_widget(form.seconds) }}{% endif -%}
            {%- if with_invert %}{{ form_widget(form.invert) }}{% endif -%}
        </div>
    {%- endif -%}
{%- endblock dateinterval_widget -%}

{% block choice_widget_collapsed -%}
    {% set attr = attr|merge({class: (attr.class|default(''))|trim}) %}
    {{- parent() -}}
{%- endblock %}

{% block choice_widget_expanded -%}
        {%- for child in form %}
            {{- form_widget(child, {
                parent_label_class: label_attr.class|default(''),
                translation_domain: choice_translation_domain,
            }) -}}
        {% endfor -%}
{%- endblock choice_widget_expanded %}

{% block radio_widget -%}
        <p>
            <input class="with-gap" type="radio" {{ block('widget_attributes') }}{% if value is defined %} value="{{ value }}"{% endif %}{% if checked %} checked="checked"{% endif %} />
            <label for="{{ id }}"{% for attrname, attrvalue in label_attr %} {{ attrname }}="{{ attrvalue }}"{% endfor %}>
            {{ label }}
            </label>
        </p>
{%- endblock radio_widget %}

{% block checkbox_widget -%}
    {% set attr = attr|merge({class: (attr.class|default(''))|trim}) %}
    <p>
        <div class="col s11">
            <input class="filled-in" type="checkbox" {{ block('widget_attributes') }}{% if value is defined %} value="{{ value }}"{% endif %}{% if checked %} checked="checked"{% endif %} />
            <label for="{{ id }}"{% for attrname, attrvalue in label_attr %} {{ attrname }}="{{ attrvalue }}"{% endfor %}>
            {{ label }}
            </label>
        </div>
    </p>
{%- endblock checkbox_widget %}

{# Labels #}

{% block form_label -%}
    {%- set label_attr = label_attr|merge({class: (label_attr.class|default(''))|trim}) -%}
    {{- parent() -}}
{%- endblock form_label %}

{% block choice_label -%}
    {# remove the checkbox-inline and radio-inline class, it's only useful for embed labels #}
    {%- set label_attr = label_attr|merge({class: label_attr.class|default('')|replace({'checkbox-inline': '', 'radio-inline': ''})|trim}) -%}
    {{- block('form_label') -}}
{% endblock %}

{% block checkbox_label -%}
    {{- block('checkbox_radio_label') -}}
{%- endblock checkbox_label %}

{% block radio_label -%}
    {{- block('checkbox_radio_label') -}}
{%- endblock radio_label %}

{% block checkbox_radio_label %}
    {# Do not display the label if widget is not defined in order to prevent double label rendering #}
    {% if widget is defined %}
        {% if required %}
            {% set label_attr = label_attr|merge({class: (label_attr.class|default('') ~ ' required')|trim}) %}
        {% endif %}
        {% if parent_label_class is defined %}
            {% set label_attr = label_attr|merge({class: (label_attr.class|default('') ~ ' ' ~ parent_label_class)|trim}) %}
        {% endif %}
        {% if label is not same as(false) and label is empty %}
            {%- if label_format is not empty -%}
                {% set label = label_format|replace({
                '%name%': name,
                '%id%': id,
                }) %}
            {%- else -%}
                {% set label = name|humanize %}
            {%- endif -%}
        {% endif %}
        {{- widget|raw }}
        <label for="{{ id }}"{% for attrname, attrvalue in label_attr %} {{ attrname }}="{{ attrvalue }}"{% endfor %}>
        {{ label is not same as(false) ? (translation_domain is same as(false) ? label : label|trans({}, translation_domain)) -}}
        </label>
    {% endif %}
{% endblock checkbox_radio_label %}

{# Rows #}

{% block form_row -%}
    <div class="row {% if (not compound or force_error|default(false)) and not valid %} has-error{% endif %}">
        {{- form_label(form) -}}
        {{- form_widget(form) -}}
        {{- form_errors(form) -}}
    </div>
{%- endblock form_row %}

{% block button_row -%}
    <div class="row">
        {{- form_widget(form) -}}
    </div>
{%- endblock button_row %}

{% block choice_row -%}
    {% set force_error = true %}
    {{- block('form_row') }}
{%- endblock choice_row %}

{% block date_row -%}
    {% set force_error = true %}
    {{- block('form_row') }}
{%- endblock date_row %}

{% block time_row -%}
    {% set force_error = true %}
    {{- block('form_row') }}
{%- endblock time_row %}

{% block datetime_row -%}
    {% set force_error = true %}
    {{- block('form_row') }}
{%- endblock datetime_row %}

{% block checkbox_row -%}
    <div class="row{% if not valid %} has-error{% endif %}">
        {{- form_widget(form) -}}
        {{- form_errors(form) -}}
    </div>
{%- endblock checkbox_row %}

{% block radio_row -%}
    <div class="row{% if not valid %} has-error{% endif %}">
        {{- form_widget(form) -}}
        {{- form_errors(form) -}}
    </div>
{%- endblock radio_row %}

{# Errors #}

{#{% block form_errors -%}#}
    {#{% if errors|length > 0 -%}#}
        {#{% if form.parent %}<span class="help-block">{% else %}<div class="alert alert-danger">{% endif %}#}
        {#<ul class="list-unstyled">#}
        {#{%- for error in errors -%}#}
            {#<li><span class="glyphicon glyphicon-exclamation-sign"></span> {{ error.message }}</li>#}
        {#{%- endfor -%}#}
    {#</ul>#}
        {#{% if form.parent %}</span>{% else %}</div>{% endif %}#}
    {#{%- endif %}#}
{#{%- endblock form_errors %}#}

{% block form_errors -%}
    {% if errors|length > 0 -%}
        {%- for error in errors -%}
        <span class="valign-wrapper red-text"><i class="material-icons valign">error</i> {{ error.message }}</span>
        {%- endfor -%}
    {%- endif %}
{%- endblock form_errors %}

{% block _curriculumvitae_curriculumvitaeProjects_entry_widget %}
    <div class="col s1 valign-wrapper">
        <a href="#" class="valign delete-project"><i class="material-icons">delete</i></a>
    </div>
    <div class="input-field col s10" style="margin-top:0">
        {% set choices = form.project.vars.choices %}
        <select id="curriculumvitae_curriculumvitaeProjects___name___project" name="curriculumvitae[curriculumvitaeProjects][__name__][project]">
            <option value="" disabled selected>Kies een project</option>
            {%- for choice in choices -%}
                <option value="{{ choice.value }}">{{ choice.label }}</option>
            {%- endfor -%}
        </select>
    </div>
    <div class="col s1">
        <div class="col s11">
        <p style="margin-top:0">
            <input class="filled-in" type="checkbox" id="curriculumvitae_curriculumvitaeProjects___name___important" name="curriculumvitae[curriculumvitaeProjects][__name__][important]" value="1">
            <label for="curriculumvitae_curriculumvitaeProjects___name___important"></label>
        </p>
    </div>
    </div>
{% endblock _curriculumvitae_curriculumvitaeProjects_entry_widget %}

