{% form_theme form 'form/materialize_layout.html.twig' %}
{% extends 'base.html.twig' %}

{% block content %}

    <div class="row">
        <form class="col s12" method="POST" enctype="multipart/form-data">

            {% for flash_message in app.session.flashBag.get('notice') %}
                <div id="card-alert" class="card green" style="display:none">
                    <div class="card-content white-text valign-wrapper">
                        <i class="material-icons valign">done</i>&nbsp;<span>{{ flash_message }}</span>
                    </div>
                </div>
            {% endfor %}

            <div class="col s12">
                <div class="row">
                    <div class="input-field col s12 m6">
                        {{ form_label(form.shortDescription, 'Korte beschrijving') }}
                        {{ form_errors(form.shortDescription) }}
                        {{ form_widget(form.shortDescription, {'attr': {
                            'class': 'validate',
                            'length': 100,
                            'maxlength': 100,
                        }}) }}
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12 m6">
                        {{ form_label(form.tags, 'Tags') }}
                        {{ form_errors(form.tags) }}
                        {{ form_widget(form.tags, {'attr': {
                            'data-role': 'materialtags',
                            'class': 'autocomplete'
                        }}) }}
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12 m6">
                        {{ form_label(form.quoteLine, 'Quote') }}
                        {{ form_errors(form.quoteLine) }}
                        {{ form_widget(form.quoteLine, {'attr': {
                            'class': 'validate',
                            'length': 100,
                            'maxlength': 100
                        }}) }}
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        {{ form_label(form.profileText, 'Profiel') }}
                        {{ form_errors(form.profileText) }}
                        {{ form_widget(form.profileText, {'attr': {
                            'class': 'validate materialize-textarea',
                            'length': 1250,
                            'maxlength': 1250,
                            'rows': 10
                        }}) }}
                    </div>
                </div>
                <div class="row right">
                    {{ form_widget(form.submit, {'attr': {'class': 'btn waves-effect waves-light'}}) }}
                </div>
            </div>
            {{ form_rest(form) }}
        </form>
    </div>

{% endblock %}