{# app/Resources/views/pages/profile_new.html.twig #}
{% form_theme form 'form/materialize_layout.html.twig' %}
{% extends 'base.html.twig' %}

{% block content %}
    <div class="row">

        {% for flash_message in app.session.flashBag.get('notice') %}
            <div id="card-alert" class="card green succes-entity" style="display:none">
                <div class="card-content white-text valign-wrapper">
                    <i class="material-icons valign">done</i> <span>{{ flash_message }}</span>
                </div>
            </div>
        {% endfor %}
        {% for flash_message in app.session.flashBag.get('error') %}
            <div id="card-alert" class="card red error-entity" style="display:none">
                <div class="card-content white-text valign-wrapper">
                    <i class="material-icons valign">warning</i>&nbsp;<span>{{ flash_message }}</span>
                </div>
            </div>
        {% endfor %}

        <form class="col s12" method="POST" enctype="multipart/form-data" novalidate>
            <div class="col s12 m3 center-align">
                <img src="{{ asset(profileImage) }}" alt="" class="avatar" width="200">
            </div>
            <div class="col s12 m9">
                <div class="row">
                    <div class="input-field col s12 m6">
                        {{ form_label(form.firstName, 'Voornaam') }}
                        {{ form_widget(form.firstName, {'attr': {'class': 'validate', 'disabled' : 'disabled'}}) }}
                        {{ form_errors(form.firstName) }}
                    </div>
                    <div class="input-field col s12 m6">
                        {{ form_label(form.lastName, 'Achternaam') }}
                        {{ form_widget(form.lastName, {'attr': {'class': 'validate', 'disabled' : 'disabled'}}) }}
                        {{ form_errors(form.lastName) }}
                    </div>
                </div>
                <div class="row">
                    <div class="datepicker-field col s12 m6">
                        {{ form_label(form.dateOfBirth, 'Geboortedatum') }}
                        {{ form_widget(form.dateOfBirth, {'attr': {'class': 'datepicker', 'disabled' : 'disabled'}}) }}
                        {{ form_errors(form.dateOfBirth) }}
                    </div>
                    <div class="input-field col s12 m6">
                        {{ form_label(form.placeOfResidence, 'Woonplaats') }}
                        {{ form_widget(form.placeOfResidence, {'attr': {'class': 'validate', 'disabled' : 'disabled'}}) }}
                        {{ form_errors(form.placeOfResidence) }}
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12 m12">
                        <div class="file-field input-field">
                            {{ form_widget(form.profileImageFile, {'attr': {'disabled' : 'disabled'}}) }}
                            {{ form_errors(form.profileImageFile) }}
                        </div>
                    </div>
                </div>
                <div class="row right">
                    <a class="waves-effect waves-light btn" id="clicker" {% if not isUser %}disabled{% endif %}>Bewerken</a>
                    {{ form_widget(form.submit, {'attr': {'class': 'btn waves-effect waves-light', 'disabled' : 'disabled'}}) }}
                </div>
            </div>
            {{ form_rest(form) }}
        </form>
    </div>

{% endblock %}

