{% extends 'base.html.twig' %}

{% block content %}
    {% set isUser = false %}
    {% if app.user.id == userId %}
        {% set isUser = true %}
    {% endif %}
    {% if isUser %}
        <div class="row">
            <div class="col s12">
                <a href="{{ url('cert_add',{'userId' : userId}) }}" class="valign-wrapper"><i class="material-icons valign">add</i>Voeg een certificaat toe</a>
            </div>
        </div>
    {% endif %}
    {% for flash_message in app.session.flashBag.get('notice') %}
        <div id="card-alert" class="card green succes-entity" style="display:none">
            <div class="card-content white-text valign-wrapper">
                <i class="material-icons valign">done</i>&nbsp;<span>{{ flash_message }}</span>
            </div>
        </div>
    {% endfor %}
    {% for flash_message in app.session.flashBag.get('error') %}
        <div id="card-alert" class="card red succes-entity" style="display:none">
            <div class="card-content white-text valign-wrapper">
                <i class="material-icons valign">warning</i>&nbsp;<span>{{ flash_message }}</span>
            </div>
        </div>
    {% endfor %}

    {% if certificates %}
    <table class="highlight responsive-table">
        <thead>
        <tr>
            <th data-field="id" width="65"></th>
            <th data-field="certificateName">Certificaat</th>
            <th data-field="certificateInstitute" width="450">Instituut</th>
            <th data-field="obtainedDate" width="450">Datum behaald</th>
            <th data-field="updatedAt" width="150">Bijgewerkt</th>
        </tr>
        </thead>

        <tbody>
    {% for certificate in certificates %}
        <tr>
            <td>
                {% if isUser %}
                    <a href="{{ url('cert_edit',{'userId' : userId, 'certificateId' : certificate.Id}) }}" alt="Bewerken">
                        <i class="material-icons">edit</i>
                    </a>
                    <a href="#" class="delete-button" alt="Verwijderen">
                        <i class="material-icons">delete</i>
                    </a>
                {% else %}
                    <a href="{{ url('cert_show',{'userId' : userId, 'certificateId' : certificate.Id}) }}" alt="Bewerken">
                        <i class="material-icons">visibility</i>
                    </a>
                {% endif %}
            </td>
            <td>{{ certificate.certificateName }}</td>
            <td>{{ certificate.certificateInstitute }}</td>
            <td>{{ certificate.obtainedDate|date('d-m-Y') }}</td>
            <td>{{ certificate.updatedAt|date('d-m-Y H:i:s') }}</td>
        </tr>
        {% for flash_message in app.session.flashBag.get('delete') %}
            <div id="card-alert" class="card red delete-entity" style="display:none">
                <div class="card-content white-text valign-wrapper">
                    <i class="material-icons valign">warning</i>&nbsp;
                    <span>{{ flash_message }}
                        <strong><a class="white-text" href="{{ url('cert_delete',{'userId' : userId, 'certificateId' : certificate.Id}) }}">Ja, verwijder.</a></strong>
                    </span>
                </div>
            </div>
        {% endfor %}
    {% endfor %}
        </tbody>
    </table>
    {% else %}
        <div class="row">
            <div class="col s12"><h3>Geen certificaten gevonden.</h3></div>
        </div>
    {% endif %}
{% endblock %}