{% extends 'base.html.twig' %}

{% block content %}
    {% if isUser %}
        <div class="row">
            <div class="col s12">
                <a href="{{ url('cv_add',{'userId' : userId}) }}" class="valign-wrapper"><i class="material-icons valign">add</i>Voeg een cv toe</a>
            </div>
        </div>
    {% endif %}
    {% for flash_message in app.session.flashBag.get('notice') %}
        <div id="card-alert" class="card green succes-entity" style="display:none">
            <div class="card-content white-text valign-wrapper">
                <i class="material-icons valign">done</i>&nbsp;<span>{{ flash_message }}</span>
            </div>
        </div>
    {% endfor %}
    {% for flash_message in app.session.flashBag.get('error') %}
        <div id="card-alert" class="card red error-entity" style="display:none">
            <div class="card-content white-text valign-wrapper">
                <i class="material-icons valign">warning</i>&nbsp;<span>{{ flash_message }}</span>
            </div>
        </div>
    {% endfor %}
    {% if cvs %}
    <table class="highlight responsive-table">
        <thead>
        <tr>
            <th data-field="" width="135"></th>
            <th data-field="curriculumvitaeName">Naam</th>
            <th data-field="tags">Tags</th>
            <th data-field="updatedAt" width="150">Bijgewerkt</th>
        </tr>
        </thead>

        <tbody>
    {% for cv in cvs %}
        <tr>
            <td>
                {% if isUser %}
                    <a href="{{ url('cv_edit',{'userId' : userId, 'cvId' : cv.Id}) }}" alt="Bewerken">
                        <i class="material-icons">edit</i>
                    </a>
                    <a href="{{ url('cv_copy',{'userId' : userId, 'cvId' : cv.Id}) }}" alt="Kopieëren">
                        <i class="material-icons">content_copy</i>
                    </a>
                    <a href="#" class="delete-button-{{ cv.id }}" alt="Verwijderen">
                        <i class="material-icons">delete</i>
                    </a>
                {% endif %}

                    <a href="#modalExport-{{ cv.id }}" class="modal-trigger" alt="Exporteren">
                        <i class="material-icons">file_download</i>
                    </a>

                    <!-- Modal Structure -->
                    <div id="modalExport-{{ cv.id }}" class="modal">
                        <div class="modal-content">
                            <h4>Template en taal</h4>
                            <div class="row">
                                <div class="col s6 center-align">
                                    <p>Template 2016</p>
                                    <a class="modal-close" href="{{ url('cv_export_2016',{'userId' : userId, 'cvId' : cv.id}) }}"><img src="{{ asset('img/flag_netherlands.png') }}"></a>
                                </div>
                                <div class="col s6 center-align">
                                    <p>Template 2017</p>
                                    <a class="modal-close" href="{{ url('cv_export_2017',{'userId' : userId, 'cvId' : cv.id, 'locale' : 'nl'}) }}"><img src="{{ asset('img/flag_netherlands.png') }}"></a>
                                    <a class="modal-close" href="{{ url('cv_export_2017',{'userId' : userId, 'cvId' : cv.id, 'locale' : 'en'}) }}"><img src="{{ asset('img/flag_united_kingdom.png') }}"></a>
                                </div>
                            </div>
                        </div>
                    </div>
            </td>
            <td>{{ cv.curriculumvitaeName }}</td>
            <td id="tags">{% for tag in cv.tags %}
                    <div class="chip">{{ tag.tagText }}</div>
                {% endfor %}
            </td>
            <td>{{ cv.updatedAt|date('d-m-Y H:i:s') }}</td>
        </tr>
            <div id="card-alert" class="card red delete-entity-{{ cv.id }}" style="display:none">
                <div class="card-content white-text valign-wrapper">
                    <i class="material-icons valign">warning</i>&nbsp;
                    <span>Weet je zeker dat je {{ cv.curriculumvitaeName }} wilt verwijderen?
                        <strong><a class="white-text" href="{{ url('cv_delete',{'userId' : userId, 'cvId' : cv.id}) }}">Ja, verwijder.</a></strong>
                    </span>
                </div>
            </div>
    {% endfor %}
        </tbody>
    </table>
    {% else %}
        <div class="row">
            <div class="col s12"><h3>Geen CV's gevonden.</h3></div>
        </div>
    {% endif %}
{% endblock %}