{% extends 'base.html.twig' %}

{% block content %}
    {% set isUser = false %}
    {% if app.user.id == userId %}
        {% set isUser = true %}
    {% endif %}
    {% if isUser %}
        <div class="row">
            <div class="col s12">
                <a href="{{ url('project_add',{'userId' : userId}) }}" class="valign-wrapper"><i class="material-icons valign">add</i>Voeg een project toe</a>
            </div>
        </div>
    {% endif %}
    {% for flash_message in app.session.flashBag.get('notice') %}
        <div id="card-alert" class="card green succes-entity" style="display:none">
            <div class="card-content white-text valign-wrapper">
                <i class="material-icons valign">done</i>&nbsp;<span>{{ flash_message }}</span>
            </div>
        </div>
    {% endfor %}
    {% for flash_message in app.session.flashBag.get('error') %}
        <div id="card-alert" class="card red succes-entity" style="display:none">
            <div class="card-content white-text valign-wrapper">
                <i class="material-icons valign">warning</i>&nbsp;<span>{{ flash_message }}</span>
            </div>
        </div>
    {% endfor %}

    {% if projects %}
    <table class="highlight responsive-table">
        <thead>
        <tr>
            <th data-field="id" width="65"></th>
            <th data-field="functionTitle" width="300">Functie</th>
            <th data-field="customerName">Klant</th>
            <th data-field="tags">Tags</th>
            <th data-field="updatedAt" width="150">Bijgewerkt</th>
        </tr>
        </thead>

        <tbody>
    {% for project in projects %}
        <tr>
            <td>
                {% if isUser %}
                <a href="{{ url('project_edit',{'userId' : userId, 'projectId' : project.Id}) }}" alt="Bewerken">
                    <i class="material-icons">edit</i>
                </a>
                <a href="#" class="delete-button-{{ project.id }}" alt="Verwijderen">
                    <i class="material-icons">delete</i>
                </a>
                {% else %}
                    <a href="{{ url('project_show',{'userId' : userId, 'projectId' : project.Id}) }}" alt="Bewerken">
                        <i class="material-icons">visibility</i>
                    </a>
                {% endif %}
            </td>
            <td>{{ project.functionTitle }}</td>
            <td>{{ project.customerName }}</td>
            <td id="tags">{% for tag in project.tags %}
                    <div class="chip">{{ tag.tagText }}</div>
                {% endfor %}
            </td>
            <td>{{ project.updatedAt|date('d-m-Y H:i:s') }}</td>
        </tr>
            <div id="card-alert" class="card red delete-entity-{{ project.id }}" style="display:none">
                <div class="card-content white-text valign-wrapper">
                    <i class="material-icons valign">warning</i>&nbsp;
                    <span>Weet je zeker dat je dit project wilt verwijderen?
                        <strong><a class="white-text" href="{{ url('project_delete',{'userId' : userId, 'projectId' : project.id}) }}">Ja, verwijder.</a></strong>
                    </span>
                </div>
            </div>
    {% endfor %}
        </tbody>
    </table>
    {% else %}
        <div class="row">
            <div class="col s12"><h3>Geen projecten gevonden.</h3></div>
        </div>
    {% endif %}
{% endblock %}