{% extends 'base.html.twig' %}

{% block content %}
    {% set isUser = false %}
    {% if app.user.id == userId %}
        {% set isUser = true %}
    {% endif %}
    {% if isUser %}
        <div class="row" style="margin-bottom: 0">
            <div class="col s12">
                <a href="#" id="addSkillLink" class="valign-wrapper"><i class="material-icons valign">add</i>Voeg een competentie toe</a>
            </div>
        </div>
        <form method="POST" enctype="multipart/form-data" action="{{ path('skill_add', {'userId' : userId}) }}">
            <table id="addSkill" class="responsive-table" style="border-collapse:unset; display:none">
                <tbody>
                <tr>
                    <td width="65">{{ form_widget(form.submit, {'attr': {'class': 'btn-flat right', 'style': 'padding:0 0.7rem'}}) }}</td>
                    <td class="input-field">
                        {{ form_errors(form.skillText) }}
                        {{ form_widget(form.skillText, {'attr': {
                            'class': 'validate',
                            'maxlength': 20,
                            'style': 'max-width:300px'
                        }}) }}

                    </td>
                    <td class="range-field" width="450">
                        {{ form_errors(form.skillWeight) }}
                        {{ form_widget(form.skillWeight, {'attr': {
                            'class': 'range',
                            'min': 1,
                            'max': 5,
                            'style': 'max-width: 300px'
                        }}) }}
                    </td>
                </tr>
                </tbody>
            </table>
        </form>
    {% endif %}
    {% for flash_message in app.session.flashBag.get('notice') %}
        <div id="card-alert" class="card green succes-entity" style="display:none">
            <div class="card-content white-text valign-wrapper">
                <i class="material-icons valign">done</i>&nbsp;<span>{{ flash_message }}</span>
            </div>
        </div>
    {% endfor %}
    {% for flash_message in app.session.flashBag.get('error') %}
        <div id="card-alert" class="card red succes-entity" style="display:none">
            <div class="card-content white-text valign-wrapper">
                <i class="material-icons valign">warning</i>&nbsp;<span>{{ flash_message }}</span>
            </div>
        </div>
    {% endfor %}

    {% if skills %}
    <table class="highlight responsive-table">
        <thead>
        <tr>
            <th data-field="id" width="65"></th>
            <th data-field="skillName">Competentie</th>
            <th data-field="skillWeight" width="450">Score</th>
        </tr>
        </thead>

        <tbody>
    {% for skill in skills %}
        <tr>
            <form method="POST" enctype="multipart/form-data" action="{{ path('skill_edit', {'userId' : userId, 'skillId' : skill.Id}) }}" id="edit-skill-{{ skill.Id }}">
            <td>
                {% if isUser %}
                    <span class="edit-toggle-off-{{ skill.Id }}">
                    <a href="#" class="editSkillLink-{{ skill.Id }}" alt="Bewerken">
                        <i class="material-icons">edit</i>
                    </a>
                    </span>
                    <span class="edit-toggle-on-{{ skill.Id }}" style="display:none">
                    <a href="#" class="askillSubmitLink-{{ skill.Id }}" alt="Bewerken">
                        <i class="material-icons">done</i>
                    </a>
                    </span>
                    <a href="#" class="delete-button-{{ skill.id }}" alt="Verwijderen">
                        <i class="material-icons">delete</i>
                    </a>
                {% endif %}
            </td>
            <td class="input-field" id="editSkillTd-{{ skill.Id }}">
                <div class="edit-toggle-on-{{ skill.Id }}" style="display:none">
                    <input maxlength="20" type="text" id="skill_skillText" name="skill[skillText]" value="{{ skill.skillText }}" style="max-width: 200px;height: 2rem;margin: 0;"/>
                </div>
                <div class="edit-toggle-off-{{ skill.Id }}">
                    {{ skill.skillText }}
                </div>
            </td>
            <td class="range-field">
                <div class="edit-toggle-on-{{ skill.Id }}" style="display:none">
                    <input type="range"  id="skill_skillWeight" name="skill[skillWeight]" value="{{ skill.skillWeight }}" min="1" max="5" style="max-width: 300px"/>
                </div>
                <div class="edit-toggle-off-{{ skill.Id }}">
                    <input type="range" value="{{ skill.skillWeight }}" disabled min="1" max="5" style="max-width: 300px"/>
                </div>
            </td>
            </form>
        </tr>
            <div id="card-alert" class="card red delete-entity-{{ skill.id }}" style="display:none">
                <div class="card-content white-text valign-wrapper">
                    <i class="material-icons valign">warning</i>&nbsp;
                    <span>Weet je zeker dat je {{ skill.skillText }} wilt verwijderen?
                        <strong><a class="white-text" href="{{ url('skill_delete',{'userId' : userId, 'skillId' : skill.id}) }}">Ja, verwijder.</a></strong>
                    </span>
                </div>
            </div>
    {% endfor %}
        </tbody>
    </table>
    {% else %}
        <div class="row">
            <div class="col s12"><h3>Geen competenties gevonden.</h3></div>
        </div>
    {% endif %}
{% endblock %}