{% extends 'base_admin.html.twig' %}

{% block content %}
        <div class="row" style="margin-top:20px">
            <div class="col s12">
                <a href="{{  url('admin_user_add') }}" class="valign-wrapper"><i class="material-icons valign">add</i>Voeg een consultant toe</a>
            </div>
        </div>
    {% for flash_message in app.session.flashBag.get('notice') %}
        <div id="card-alert" class="card green succes-entity" style="display:none">
            <div class="card-content white-text valign-wrapper">
                <i class="material-icons valign">done</i>&nbsp;<span>{{ flash_message }}</span>
            </div>
        </div>
    {% endfor %}
    {% for flash_message in app.session.flashBag.get('error') %}
        <div id="card-alert" class="card red succes-entity" style="display:none">
            <div class="card-content white-text valign-wrapper">
                <i class="material-icons valign">warning</i>&nbsp;<span>{{ flash_message }}</span>
            </div>
        </div>
    {% endfor %}

    {% if users %}
        <table class="highlight responsive-table">
            <thead>
            <tr>
                <th data-field="userImage" width="65"></th>
                <th data-field="userName">Naam</th>
                <th data-field="userStatus">Rollen</th>
                <th data-field="userStatus">Status</th>
                <th data-field="actions" width="65"></th>
            </tr>
            </thead>

            <tbody>
            {% for user in users %}
                <tr>
                    <td><img src="{{ asset('img/profile/' ~ user.personalia.profileAvatarName) }}" alt="" class="circle responsive-img"></td>
                    <td>{{ user.personalia.firstName }} {{ user.personalia.lastName }}<br/><em>{{ user.personalia.placeOfResidence }}</em></td>
                    <td>{% set userRole = false %}
                        {% for role in user.roles %}
                            {% if role == "ROLE_SUPER_ADMIN" %}
                                {% set userRole = "Beheerder" %}
                            {% elseif role == "ROLE_ADMIN" and not userRole %}
                                {% set userRole = "Manager" %}
                            {% elseif role == "ROLE_USER" and not userRole %}
                                {% set userRole = "Consultant" %}
                            {% endif %}
                        {% endfor %}
                        {{ userRole }}
                    </td>
                    <td>{% if user.enabled == 1 %}Actief{% else %}Inactief{% endif %}</td>
                    <td>
                        <a href="{{ url('admin_user_edit',{'userId' : user.id }) }}" alt="Bewerken">
                            <i class="material-icons">edit</i>
                        </a>
                        <a href="#" class="delete-button-{{ user.id }}" alt="Verwijderen">
                            <i class="material-icons">delete</i>
                        </a>
                    </td>
                </tr>
                    <div id="card-alert" class="card red delete-entity-{{ user.id }}" style="display:none">
                        <div class="card-content white-text valign-wrapper">
                            <i class="material-icons valign">warning</i>&nbsp;
                            <span>Weet je zeker dat je {{ user.personalia.firstName }} wilt verwijderen?
                                <strong><a class="white-text" href="{{ url('admin_user_delete',{'userId' : user.id}) }}">Ja, verwijder.</a></strong>
                    </span>
                        </div>
                    </div>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <div class="row">
            <div class="col s12"><h3>Geen consultants gevonden.</h3></div>
        </div>
    {% endif %}

{% endblock %}