{% form_theme form 'form/materialize_layout.html.twig' %}
{% extends 'base_admin.html.twig' %}

{% block content %}

    <div class="row">
        <form class="col s12" method="POST" enctype="multipart/form-data">

            {% for flash_message in app.session.flashBag.get('notice') %}
                <div id="card-alert" class="card green" style="display:none">
                    <div class="card-content white-text valign-wrapper">
                        <i class="material-icons valign">done</i>&nbsp;<span>{{ flash_message }}</span>
                    </div>
                </div>
            {% endfor %}

            <div class="col s12 m6">
                <div class="row">
                    <div class="col s12">
                        <h4>Accountgegevens</h4>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        {{ form_label(form.username, 'Gebruikersnaam') }}
                        {{ form_widget(form.username, {'attr': {
                            'class': 'validate',
                            'maxlength': 100,
                        }}) }}
                        {{ form_errors(form.username) }}
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        {{ form_label(form.plainPassword.first) }}
                        {{ form_widget(form.plainPassword.first, {'attr': {
                            'class': 'validate',
                            'maxlength': 100,
                        }}) }}
                        {{ form_errors(form.plainPassword.first) }}
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        {{ form_label(form.plainPassword.second) }}
                        {{ form_widget(form.plainPassword.second, {'attr': {
                            'class': 'validate',
                            'maxlength': 100,
                        }}) }}
                        {{ form_errors(form.plainPassword.second) }}
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        {{ form_widget(form.roles) }}
                        {{ form_label(form.roles, 'Rol') }}
                        {{ form_errors(form.roles) }}
                    </div>
                </div>
                <div class="row" style="margin-bottom: 0;">
                    <div class="input-field col s12">
                        <label for="{{ form.enabled.vars.id }}">Actief</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        {{ form_widget(form.enabled) }}
                    </div>
                </div>
            </div>
            <div class="col s12 m6">
                <div class="row">
                    <div class="col s12">
                        <h4>Personalia</h4>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        {{ form_label(form.personalia.firstName, 'Voornaam') }}
                        {{ form_widget(form.personalia.firstName, {'attr': {
                            'class': 'validate',
                            'maxlength': 100,
                        }}) }}
                        {{ form_errors(form.personalia.firstName) }}
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        {{ form_label(form.personalia.lastName, 'Achternaam') }}
                        {{ form_widget(form.personalia.lastName, {'attr': {
                            'class': 'validate',
                            'maxlength': 100,
                        }}) }}
                        {{ form_errors(form.personalia.lastName) }}
                    </div>
                </div>
                <div class="row">
                    <div class="datepicker-field col s12">
                        {{ form_label(form.personalia.dateOfBirth, 'Geboortedatum') }}
                        {{ form_widget(form.personalia.dateOfBirth, {'attr': {'class': 'datepicker'}}) }}
                        {{ form_errors(form.personalia.dateOfBirth) }}
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        {{ form_label(form.personalia.placeOfResidence, 'Woonplaats') }}
                        {{ form_widget(form.personalia.placeOfResidence, {'attr': {'class': 'validate'}}) }}
                        {{ form_errors(form.personalia.placeOfResidence) }}
                    </div>
                </div>
            </div>
            <div class="row right">
                {{ form_widget(form.submit, {'attr': {'class': 'btn waves-effect waves-light'}}) }}
            </div>
            {{ form_errors(form) }}
            {{ form_widget(form._token) }}
        </form>
    </div>

{% endblock %}