{% extends 'base.html.twig' %}

{% block content %}
    <div class="row">
        <div class="col s12">
            <a href="{{ url('profiel_add',{'userId' : userId}) }}" class="valign-wrapper"><i class="material-icons valign">add</i>Voeg een profiel toe</a>
        </div>
    </div>
    {% for flash_message in app.session.flashBag.get('notice') %}
        <div id="card-alert" class="card green succes-entity" style="display:none">
            <div class="card-content white-text valign-wrapper">
                <i class="material-icons valign">done</i>&nbsp;<span>{{ flash_message }}</span>
            </div>
        </div>
    {% endfor %}

    {% if profiles %}
    <table class="highlight responsive-table">
        <thead>
        <tr>
            <th data-field="id" width="65"></th>
            <th data-field="korteBeschrijving">Beschrijving</th>
            <th data-field="keywords"width="450">Keywords</th>
            <th data-field="updatedAt" width="150">Bijgewerkt</th>
        </tr>
        </thead>

        <tbody>
    {% for profiel in profiles %}
        <tr>
            <td>
                <a href="{{ url('profiel_edit',{'userId' : userId, 'profileId' : profiel.Id}) }}" alt="Bewerken">
                    <i class="material-icons">edit</i>
                </a>
                <a href="#" class="delete-button" alt="Verwijderen">
                    <i class="material-icons">delete</i>
                </a>
            </td>
            <td>{{ profiel.shortDescription }}</td>
            <td><div style="width:450px" class="truncate"></div></td>
            <td>{{ profiel.updatedAt|date('d-m-Y H:i:s') }}</td>
        </tr>
        {% for flash_message in app.session.flashBag.get('delete') %}
            <div id="card-alert" class="card red delete-entity" style="display:none">
                <div class="card-content white-text valign-wrapper">
                    <i class="material-icons valign">warning</i>&nbsp;
                    <span>{{ flash_message }}
                        <strong><a class="white-text" href="{{ url('profiel_delete',{'userId' : userId, 'profileId' : profiel.Id}) }}">Ja, verwijder.</a></strong>
                    </span>
                </div>
            </div>
        {% endfor %}
    {% endfor %}
        </tbody>
    </table>
    {% else %}
        <div class="row">
            <div class="col s12"><h3>Geen profielen gevonden.</h3></div>
        </div>
    {% endif %}
{% endblock %}